/* Setup */
@font-face {
  font-family: 'daisyregular';
  src: url('fonts/daisy-webfont.woff2') format('woff2'),
    url('fonts/daisy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

:root {
  font-size: 62.5%;
  font-family: 'daisyregular', sans-serif;
}

body {
  min-height: 100vh;
}

/* Page */
body {
  background-color: #f0eef1;
  padding: 4rem 0;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* Add books button */
.add-book {
  margin-bottom: 2rem;
  font-size: 4rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.add-book:hover {
  background-color: hsl(197, 70%, 67%);
}

/* cards */
.books-grid {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  gap: 4rem;
}

.books-grid > * {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #ccc;
}

.book-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.text-field {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.descriptor {
  flex: 1 1 0;
}

.descriptor + div {
  flex: 2 1 0;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
  opacity: 0.4;
}

/* Preparation for scripts */
.template {
  display: none;
}

dialog {
  margin: auto;
  border: none;
  padding: 3rem 2rem;
  border-radius: 10px;
  background-color: antiquewhite;
  width: min(40rem, 40%);
}

/* Dialog form */

dialog form {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

form > input {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  opacity: 0.6;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}

/* Checkbox */
.checkbox {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

form input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid grey;
  color: green;
  background-color: white;
  border-radius: 5px;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  right: -0.5px;
  top: -0.1em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

/* Dialog submit */
.button-container {
  display: flex;
  justify-content: center;
}

.dialog-submit {
  background-color: aquamarine;
  border: none;
  box-shadow: 1px 1px 2px #cac6c6;
  padding: 2rem 4rem;
  border-radius: 10px;
}

.dialog-submit:hover {
  background-color: rgb(12, 202, 139);
}

.dialog-submit:active {
  background-color: rgb(4, 146, 99);
}

/* Close Dialog button */
.close-button {
  color: red;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  user-select: none;
}

.close-button:hover {
  color: rgb(172, 6, 6);
}

.close-button:active {
  color: rgb(218, 47, 47);
}